<!Doctype html>
<html>
    <head>
        <title>Here is a template</title>

    </head>
    <body>
        <ul>
            {% for element in list %}
                   <li> {{ element }}
                       <br>
                       <hr>
                   </li>
            {% endfor %}
        </ul>

        {% if 1 in list %}
        <p>
            Found you number 1
        </p>
        {% else %}
        <p>
            Not found
        </p>
        {% endif %}

        
    </body>


</html>